/*.MuiPaper-root {
    width: 1000px;
    padding: 0;
    border: 1px solid red;

    .MuiTable-root {
        width: 100%;
        border: 1px solid blue;
    }
}*/

.material-card {
    
    //border: 1px solid blue;

    .card-content {
       
    //border: 1px solid red;
    }
}