.dashboard-container {

     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (max-width: 800px) {
      width: 100%;
      height: auto;
    }

    @media (max-width: 500px) {
      width: 100%;
      height: auto;
    }

    .navbar {
        //width: 20%; - outstanding bills display
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50px;
        background-color: #2eb49700;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        

        @media (max-width: 800px) {
          width: 100%;
          height: auto;
        }
    
        @media (max-width: 500px) {
          width: 100%;
          height: auto;
        }

        button {
            width: 10vw;
            background: #2e4bb4;
            color: white;
            border-radius: 3px;
            cursor: pointer;
            outline: none;
            border: none;
            padding: 10px;
            box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.507);
            margin: 35px;

            @media (max-width: 800px) {
              width: auto;
              height: auto;
            }
        
            @media (max-width: 500px) {
              width: auto;
              height: auto;
            }

            &:hover {
                background: #4862c4;
              }
              &:active {
                transition: all .1s;
                background: #798ac7;
                transform: translateY(3px);
                box-shadow: none;
              }
        }
      }

      .dashboard-div {
        // width: 70%; - outstanding bills display
        width: 50%;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);   
        background: #2eb497;
        border-bottom: 2px solid#2eb29a;
        padding: 15px;
        margin: 3vh auto;

        @media (max-width: 800px) {
          width: 100%;
          height: auto;
        }
    
        @media (max-width: 500px) {
          width: 100%;
          height: auto;
        }

        .dashboard-header-div {
            background: white;
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            background: white;

            @media (max-width: 800px) {
              width: 100%;
              height: auto;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: auto;
            }

            button {
              width: 10vw;
              // position: absolute;
             // margin-left: 10px;
              background: #2e4bb4;
              color: white;
              transition: all .3s;
              

              @media (max-width: 800px) {
                width: 100%;
                height: auto;
              }
          
              @media (max-width: 500px) {
                width: 100%;
                height: auto;
              }

              &:hover {
              background: #4862c4;
              }
              &:active {
              transition: all .1s;
              background: #798ac7;
              }

            }//end button
            
            h1 {
                //margin: 10px auto;

                @media (max-width: 800px) {
                  width: 100%;
                  height: 100%;
                }
            
                @media (max-width: 500px) {
                  width: 100%;
                  height: 100%;
                }

            }//end h1

            button {
                width: 10vw;
                // position: absolute;
               // margin-left: 10px;
                background: #2e4bb4;
                color: white;
                transition: all .3s;

                @media (max-width: 800px) {
                  width: auto;
                  height: auto;
                }
            
                @media (max-width: 500px) {
                  width: auto;
                  height: auto;
                }

                &:hover {
                background: #4862c4;
                }
                &:active {
                transition: all .1s;
                background: #798ac7;
                }

            }//end button
        }
        .dark-mode {
          background: #2b2b2b;
        }

        .totals-summary-div {
            width: 100%;
            height: 74px;
            margin: 0;
            padding: 0;            
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            

            @media (max-width: 800px) {
              width: 100%;
              height: 100%;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: 100%;
            }

            .total-div {
                width: 40%;
                height: auto;
                padding: 5px 0;
                border-radius: 5px;
                background: #2eb497;
                color: white;
                
                @media (max-width: 800px) {
                  width: 40%;
                  height: 100%;  
                  margin-bottom: 5%;               
                }
            
                @media (max-width: 500px) {
                  width: 40%;
                  height: 100%;
                  margin-bottom: 5%;
                  
                }
            }
        }
        .dark-mode {
          background: #2b2b2b;
        }

          .bills-list-div {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;

            @media (max-width: 800px) {
              width: 100%;
              height: auto;
            }
        
            @media (max-width: 500px) {
              width: 100%;
              height: auto;
            }

            button {
                margin: 10px auto;
                margin-top: 20px;
                width: 80%;
                height: 4rem;
                background: #2e4bb4;
                color: white;
                transition: all .3s;

                @media (max-width: 800px) {
                  width: auto;
                  height: auto;
                }
            
                @media (max-width: 500px) {
                  width: auto;
                  height: auto;
                }

        
                &:hover {
                  background: #4862c4;
                }
                &:active {
                  transition: all .1s;
                  background: #798ac7;
                }
            }

            .add-expense-note {
                font-size: 1.5rem;
                padding: 20px 0;
                background: white;
                margin: 5px 0;
                background: #2eb497;
                color: white;
                border-radius: 15px;
                margin-top: 15px;
            }

            .expense-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 2vh auto;
                height: auto;

                .expense-card-div {
                  margin: 5px 0;
                }
            }
            
          }
        
          
      }//end dashboard-div 
    


}//end dashboard-container