.country-view-div {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-around;
    //align-items: center;
    //width: 100%;
    //height: auto;   
    //border: 1px solid red;

    /*.select-country {
        margin-top: 50px;
        margin-bottom: 50px;
           

        .country-select {       
            display: block;
            font-size: 1.5rem;
            font-family: sans-serif;
            //font-weight: 700;
            color: #444;
            line-height: 1.3;
            padding: .6em 1.4em .5em .8em;
            width: 200px;
            //max-width: 100%; 
            box-sizing: border-box;
            margin: 0;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
            border-radius: .5em;
            
        
        }
        .country-select::-ms-expand {
            display: none;
        }
        .country-select:hover {
            border-color: #888;
        }
        .country-select:focus {
            border-color: #aaa;
            box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
            box-shadow: 0 0 0 3px -moz-mac-focusring;
            color: #222; 
            outline: none;
        }
        .country-select option {
            font-weight:normal;
        }
    }*/

}




