//////////////////////////////////
// MAIN SASS FILE - IMPORT HERE //
//////////////////////////////////

@import './App.scss';
@import './LoginScreen.scss';
@import './AppHeader.scss';
@import './DashboardHeader.scss';
@import './RegisterScreen.scss';
@import './Dashboard.scss';
@import './MapViewByYear.scss';
@import './Maps.scss';
@import './DataByCountry.scss';
@import './CountryCard.scss';
@import './SavedCard.scss';
@import url("https://fonts.googleapis.com/css?family=Megrim&display=swap");
@import url('https://fonts.googleapis.com/css?family=Hanalei|Lacquer|MedievalSharp&display=swap');


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
