.map-view-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: auto;
    margin-top: 25px;
    
    @media (max-width: 800px) {
        width: 100%;
        height: auto;
      }
    
      @media (max-width: 500px) {
        width: 100%;
        height: auto;
      }  

      .search-form-div {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-top: 25px;
        margin: 25px auto;
               

        @media (max-width: 800px) {
          width: 100%;
          height: auto;
        }
      
        @media (max-width: 500px) {
          width: 100%;
          height: auto;
        }  
      
        
        .search-form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 100%;
            
            @media (max-width: 800px) {
              width: 100%;
              height: auto;
            }
          
            @media (max-width: 500px) {
              width: 100%;
              height: auto;
            }      
          
          
          .select-year{
            width: 30%;
            height: 30px;
            margin-right: 10px;        
            
           
          }       
    
          .search-form-button {    
            width: 30%;
            background-color: #4caf50;   
            height: 30px;   
            
            @media (max-width: 800px) {
                width: auto;
                height: 100%;
              }
            
              @media (max-width: 500px) {
                width: auto;
                height: 100%;
              }  
          }
    
          button:hover {
            background-color: dodgerblue;
            color: white;
          }
    
        }
    
    }

}


