.saved-card {
    width: 100px;
    height: 200px;
    color: black;
    
}

.delete-icon {
    color: #0a8334;
    position: absolute;
    padding: 3px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    
 }