.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.navbar {
  align-items: center;
  border-bottom: 1px ;
  display: flex;
  height: 0,auto;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  }

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #2eb497;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}
.dark-mode {
  color: #fff;
  background-color: #2b2b2b;

  .navbar {
    background-color: #2b2b2b;
    border: none;
  }
}