.maps-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: auto;
    

    @media (max-width: 800px) {
     width: 100%;
     height: auto;
   }
 
   @media (max-width: 500px) {
     width: 500px;
     height: auto;
   }  
    
   .prediction-map {

          width:100%;
          height: auto;
          
          @media screen and (max-width: 1000px) {
               width:100%;
               height: auto;
          }
          @media screen and (max-width: 650px) {
               width:100%;
               height: auto;
          }
     }
          
   

}