.forest-card-grid {
      

    .forest-card {
        width: auto;
        background-color: #0a8334;
       
        .card-header {
            font-size: 3rem;
            
        }

        .card-desc {
            font-size: 1.5rem;
        }
        
    }
}